<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

Aluno [Roberto Hatiro](https://www.linkedin.com/in/rhatiro/)<br>
Data: 03 de janeiro de 2023.

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [1]:
print("Olá mundo!")

Olá mundo!

Crie uma célua de texto e adicione uma imagem.

---

![python-logo.png](https://www.python.org/static/img/python-logo.png)

**Python** is a *programming language* that lets you work more quickly and integrate your systems more effectively.

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [2]:
# (A)

qtd_total_vendas_19_01 = 3
ticket_medio_19_01 = 320.52

valor_total_vendas_19_01 = qtd_total_vendas_19_01 * ticket_medio_19_01
a = valor_total_vendas_19_01

print(a)

961.56

In [3]:
# (B)

valor_total_vendas_20_01 = 834.47
ticket_medio_20_01 = 119.21

qtd_total_vendas_20_01 = valor_total_vendas_20_01 / ticket_medio_20_01
b = qtd_total_vendas_20_01

print(int(b))

7

In [4]:
# (C)

valor_total_vendas_23_01 = 15378.12
qtd_total_vendas_23_01 = 5

ticket_medio_23_01 = valor_total_vendas_23_01 / qtd_total_vendas_23_01
c = ticket_medio_23_01

print(c)

3075.6240000000003

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [5]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

In [6]:
# Método extra para padronização:
cancao = cancao.upper()

print(cancao)
print()

# 1º método:
print(f'Quantidade de vezes que a palavra "RODA" aparece na string: {cancao.count("RODA")}.')
# 2º método:
print(f'Total de caracteres na string: {len(cancao)}.')
# 3º método:
print(cancao.split())

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.

Quantidade de vezes que a palavra "RODA" aparece na string: 4.
Total de caracteres na string: 49.
['RODA', 'MUNDO,', 'RODA', 'GIGANTE,', 'RODA', 'MOINHO,', 'RODA', 'PIÃO.']

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [7]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

In [8]:
posicao_selic = noticia.find("%")
selic = (noticia[posicao_selic - 4 : posicao_selic])
print(f'Valor da taxa selic: {selic}%.')

posicao_ano = noticia.find("ano")
ano = noticia[posicao_ano - 2 : posicao_ano - 1]
print(f'Valor do ano: {ano}.')

Valor da taxa selic: 2,75%.
Valor do ano: 6.

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [9]:
a = False
b = True

x = not a & b

In [10]:
print(f'Se not a = True e b = True, então x = {x}.')

Se not a = True e b = True, então x = True.